.inicio{
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../public/img/fondo1.jpg);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    width: 100%;
}